/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@900&display=swap');

/* Main Styling */

:root {
  /* Colors */
  --clr-primary-400: #F8D6B3;
  --clr-primary-200: #FDFD96;
  --clr-ascent-700: #a30f57;
  --clr-ascent-300: #E3DFF2;
  --clr-bkg: #102445;

  /* Sizes */
  --size-bkg: 300px;
}

term-green {
  color: #a7aa26;
}

term-blue {
  color: #81a296;
}

* {
    padding: 0;
    margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Mabry pro, sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url('../img/bkg.png');
  animation: movingBackground 30s linear infinite;
}

@keyframes movingBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: var(--size-bkg) var(--size-bkg);
  }
  100% {
    background-position: 0 0;
  }
}

/* Card Styling */

.card-big {
 border: 0.2rem solid black;
 box-shadow:
  black -0.35rem 0.35rem
}

.card-small {
 border: 0.2rem solid black;
 border-radius: 0.2rem;
 box-shadow:
  black -0.2rem 0.2rem
}

/* Header Styling */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  font-size: 11vw;
}

.header-subtitle {
  font-size: 6vw;
}

.title-wrapper-separator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 2vw;
  margin: 2vw 2vw 0vw 2vw;
  background-color: #F8D6B3;
}

.title-role-card {
  display: flex;
  padding: 2px 2px 2px 2px;
  background-color: #FDFD96;
}

.subheader-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2vw 2vw;
  margin: 0vw 2vw 2vw 2vw;
}

.pfp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  right: -1vw;
  z-index: -1;
  background-color: white;
}

.pfp-wrapper img {
  width: 90%;
  height: auto;
  margin: 5% 5%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.pfp-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5vw 5vw 5vw 5vw;
}

.pfp-btn-wrapper * {
  font-size: 10vw;
}

.pfp-btn-wrapper i + i {
  margin-left: 50%;
}

.pfp-sidepanel {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  z-index: -10;
  color: white;
  border: 0.2rem solid black;
  padding: 1vw 1vw 1vw 2vw;
  background-color: var(--clr-ascent-700);
  overflow-wrap: break-word;
  width: 35%;
  height: 50vw;
  position: relative;
  left: -1.3vw;
  box-shadow:
    black -0.2rem 0.2rem,
    inset rgba(60, 70, 85, 0.5) 0px 0px 4vw 0px,
    inset rgba(60, 70, 85, 0.5) 0px 0px 4vw 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 3.6vw -2.4vw
}

.pfp-sidepanel *, .main-panel-top * {
  font-size: 2.75vw;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

term-blink::after {
  content: "";
  width: 1vw;
  height: 2vw;
  top: 0.25vw;
  background: white;
  display: inline-block;
  position: relative;
  animation: cursor-blink 1.5s steps(2) infinite;
}

/* Arrow Keys */

.arrow-key-wrapper {
  display: flex;
  width: max-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 43vw;
}

#arrow-key-input, #arrow-key-output {
  display: flex;
  background: white;
  border: 0.2rem solid black;
  width: 2vw;
  height: 6vw;
  box-shadow:
    black 0 0.35vw;
}

#arrow-key-input {
  border-right-style: none;
  z-index: 10;
}

#arrow-key-output {
  border-left-style: none;
}

.arrow-key-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--clr-ascent-300);
  border: 0.2rem solid black;
  width: 20vw;
  height: 10vw;
  box-shadow:
    black 0 0.35vw
}

.arrow-key {
  font-size: 10vw;
  margin: 0 0.5vw;
}

/* Connector Boxes and SVG (Draw Cable) */

#pfp-connector-box {
  display: inline-block;
  background: white;
  border: 0.2rem solid black;
  border-top-style: none;
  width: 6vw;
  height: 2vw;
  position: relative;
  top: -4vw;
  left: 27vw;
  box-shadow:
    black 0 0.35vw
}

#pfp-connector-box::after {
  content: " ";
  position: absolute;
  z-index: -1;
  width:15vw;
  height: 13vw;
  left: 2.25vw;
  border: solid 1.5vw black;
  border-right-style: none;
  border-top-style: none;
  border-radius: 0 0 0 50%;
}

#main-connector-box {
  background: white;
  border: 0.2rem solid black;
  border-bottom-style: none;
  width: 6vw;
  height: 2vw;
  position: relative;
  top: 11vw;
  left: 12.5vw;
  box-shadow:
    black -0.35vw 0.35vw
}

#arrow-key-output::after {
  content: " ";
  position: absolute;
  z-index: -1;
  width:15vw;
  height: 17vw;
  left: 25vw;
  top: 5vw;
  border: solid 1.5vw black;
  border-left-style: none;
  border-bottom-style: none;
  border-radius: 0 50% 0 0;
}

/* Main Panel */

.main-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 3vw 3vw 3vw;
}

.main-panel-top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-panel-top {
  display: flex;
  align-self: flex-start;
  background-color: var(--clr-ascent-700);
  color: white;
  border: 0.2rem solid black;
  border-radius: 10px;
  width: 65%;
  height: 10vw;
  padding: 2vw 0 0 2vw;
  position: relative;
  left: 3vw;
  top: 5vw;
  box-shadow:
    black -0.35rem 0.35rem,
    inset rgba(60, 70, 85, 0.5) 0px 0px 4vw 0px,
    inset rgba(60, 70, 85, 0.5) 0px 0px 4vw 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 3.6vw -2.4vw
}

.main-panel {
  display: flex;
  background-color: var(--clr-ascent-300);
  border: 0.2rem solid black;
  border-radius: 10px;
  width: 100%;
  min-height: 20rem;
  z-index: 10;
  box-shadow:
    black -0.35rem 0.35rem
}

/* Desktop */
@media (min-width: 65em) {
  header {
    flex-direction: row;
  }

  .header-title {
    font-size: 4vw;
  }

  .header-subtitle {
    font-size: 2vw;
  }

  .title-wrapper {
    align-items: flex-start;
    width: 32vw;
    padding: none;
    padding-left: 1vw;
    margin: 1vw 1vw 0vw 1vw;
  }

  .subheader-wrapper {
    padding: 0;
    margin: 1vw 2vw 0vw 1vw;
    justify-content: flex-end;
    position: relative;
    top: -1vw;
  }

  .subheader-wrapper div:first-child {
    order: 1;
  }

  .pfp-wrapper {
    width: 15%;
  }
  
  .pfp-btn-wrapper {
    margin: 1vw 2vw 2vw 2vw;
  }

  .pfp-btn-wrapper * {
    font-size: 2.625vw;
  }

  .pfp-sidepanel {
    width: 22.5%;
    height: 10.125vw;
    padding: 0.3vw 2vw 1vw 1vw;
    left: 2vw;
  }

  .pfp-sidepanel *, .main-panel-top * {
    font-size: 0.775vw;
  }

  term-blink::after {
    width: 0.5vw;
    height: 1vw;
    top: 0.05vw;
  }

  .arrow-key-wrapper {
    position: relative;
    top: -2vw;
    left: 32vw;
  }

  #arrow-key-input, #arrow-key-output {
    width: 0.75vw;
    height: 2.25vw;
  }

  .arrow-key-buttons-wrapper {
    width: 7.5vw;
    height: 3.75vw;
  }

  .arrow-key {
    font-size: 3.75vw;
    margin: 0 0.25vw;
  }

  .main-wrapper {
    padding: 0 1vw 1vw 1vw;
    position: relative;
    top: -5vw;
  }

  .main-panel-top {
    width: 25%;
    height: 5vw;
    padding: 1vw 0 0 1vw;
    left: 1.5vw;
    top: 3vw;
  }
}

/* Utility */

.border--round-10 {
  border-radius: 10px;
}

.border--round-5 {
  border-radius: 5px;
}
